<a href="https://colab.research.google.com/github/rlatkdgur040217/code_3rd/blob/main/CTBL_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.학생으로부터 성적을 입력받아 합격유무를 출력하는 코드작성
- 사용변수: Grade
- 사용수식: Grade >=70:

In [7]:
Grade = int(input("성적입력: "))
if Grade >=70:
  print("70점 이상이므로 합격")
else:
  print("70이하는 불합격")

성적입력: 70
70점 이상이므로 합격

2.쇼핑물의 배송료를 계산하는 코드 작성
 - 변수명 : price, shipping_cost
 - 수식 : price >= 20000
 - shipping_cost = 3000

In [10]:
price = int(input("구입 금액 입력: " ))
if price >= 20000:
  shipping_cost = 0
  print(f'구입금액이 {price}원 이상입니다.')
else:
  shipping_cost = 3000
  print("구입금액이 2만원 이하입니다")
print(f'회원님의 배송료는 {shipping_cost}입니다.')

구입 금액 입력: 20000
구입금액이 20000원 이상입니다.
회원님의 배송료는 0입니다.

3. 근무시간에 따라 초과근무와 정상근무를 판별하는 코드작성
 - 변수 : work_hour
 - 수식 : >= , 기준시간:72시간

In [11]:
work_hour = int(input("근무시간 입력: "))
if work_hour >= 72:
  print("초과근무하였습니다.")
else:
  print("정상근무하였습니다.")

근무시간 입력: 69
정상근무하였습니다.

4. 정수를 입력받아서 짝수인지 홀수인지 판별하는 코드 작성
 - 변수: num
 - 수식 : (num %2) != 0:

In [12]:
num = int(input("정수를 입력하시오: "))
if num %2 != 0:
  print("홀수입니다.")
else:
  print("짝수입니다.")

정수를 입력하시오: 4
짝수입니다.

5. 사용자의 이름과 나이를 입력받고,답변하는 코드 작성
 - 입력 : 성명 - name
 - 입력 : 나이 - age
 - 수식 : if age <= 20:

 최종 출력물
 - 이름을 입력하시오.: 김상혁
 - 나이를 입력하시오.: 20
 - (1) 프로그래밍을 배우는 최적의 나이 입니다.
 - (2) 아직도 늦지 않았습니다. 도전정신

In [18]:
name = input("이름을 입력하시오.: ")
age = int(input("나이를 입력하시오.: "))
if age <= 20:
  print("프로그래밍을 배우는 최적의 나이입니다.")
else:
  print("아직도 늦지 않았습니다.도전정신")

이름을 입력하시오.: 김상혁
나이를 입력하시오.: 20
프로그래밍을 배우는 최적의 나이입니다.

In [19]:
import random

def generate_lotto_numbers():
    return random.sample(range(1, 46), 6)

print(generate_lotto_numbers())

[24, 25, 5, 1, 39, 35]

In [20]:
# 사용자의 이름을 입력받습니다.
name = input("당신의 이름을 입력해주세요: ")

# 사용자의 나이를 입력받습니다.
age = input("당신의 나이를 입력해주세요: ")

# 사용자의 이름과 나이를 출력합니다.
print(f"당신의 이름은 {name}이고, 나이는 {age}살입니다.")

당신의 이름을 입력해주세요: 김상혁
당신의 나이를 입력해주세요: 20
당신의 이름은 김상혁이고, 나이는 20살입니다.